.menu {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    z-index: 999;
  }
  .menu::-webkit-scrollbar{
    display:none;
  }
  .menu-level {
    width: 100%;
    overflow-x: scroll;
    min-width: 500px;
    height: 60px;
    line-height: 60px;
    border-bottom: 1px solid #ccc
  }
  .menu-vertical {
    overflow-y: scroll;
    height: 100%;
    width: 200px;
    flex-direction: column;
    align-items: center;
    border-right: 1px solid #ccc
  }